
// Brand Hue
$brand-hue: 203 !default;


// Modals
$modal-header-bg: $card-cap-bg !default;
$modal-content-bg: $gray-100 !default;
$modal-header-border-color: $gray-200 !default;
$modal-footer-border-color: $modal-header-border-color !default;

// Navbar
$nav-link-color: $gray-900 !default;

// Buttons
$btn-font-weight: 500 !default;
