.main {
  padding: 20px 0 20px;
}

.login {
  background: #fff;

  .main {
    background: url(/img/header-bg-square.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 100px 0;

    h1 { color: #fff; }

    form {
      color: #fff;

      label {
        color: #fff !important;
      }
      .text-muted {
        color: #dcdcdc !important;
      }
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.registration {
  background: #fff;

  .main {
    background: url(/img/header-bg-square.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-bottom: 40px;

    h1 { color: #fff; }

    form {
      color: #fff;

      label {
        color: #fff !important;
      }
      .text-muted {
        color: #dcdcdc !important;
      }
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

// User
.user-card {

  .user-card__avatar {
    img {
      border-radius: 100%;
    }
  }
}

// Plans details
#modal-plan-details {
  .plan-feature-list {
    .badge {
      font-size: 1rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .main {
    padding-top: 30px;
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
